Deep Learning in Python
Data source : http://www.creditriskanalytics.net/uploads/1/9/5/1/19511601/hmeq.csv

In [3]:
# Load data 
import pandas as pd
credit = pd.read_csv("C:/Users/mlcl.local/Desktop/Self-Studied-R-and-Python/Python/hmeq.csv")

credit.head(10)

,BAD,LOAN,MORTDUE,VALUE,REASON,JOB,YOJ,DEROG,DELINQ,CLAGE,NINQ,CLNO,DEBTINC
0,1,1100,25860.0,39025.0,HomeImp,Other,10.5,0.0,0.0,94.366667,1.0,9.0,NaN
1,1,1300,70053.0,68400.0,HomeImp,Other,7.0,0.0,2.0,121.833333,0.0,14.0,NaN
2,1,1500,13500.0,16700.0,HomeImp,Other,4.0,0.0,0.0,149.466667,1.0,10.0,NaN
3,1,1500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,1700,97800.0,112000.0,HomeImp,Office,3.0,0.0,0.0,93.333333,0.0,14.0,NaN
5,1,1700,30548.0,40320.0,HomeImp,Other,9.0,0.0,0.0,101.466002,1.0,8.0,37.113614
6,1,1800,48649.0,57037.0,HomeImp,Other,5.0,3.0,2.0,77.100000,1.0,17.0,NaN
7,1,1800,28502.0,43034.0,HomeImp,Other,11.0,0.0,0.0,88.766030,0.0,8.0,36.884894
8,1,2000,32700.0,46740.0,HomeImp,Other,3.0,0.0,2.0,216.933333,1.0,12.0,NaN
9,1,2000,NaN,62250.0,HomeImp,Sales,16.0,0.0,0.0,115.800000,0.0,13.0,NaN

In [4]:
# NA summary:

credit.isnull().sum()

BAD           0
LOAN          0
MORTDUE     518
VALUE       112
REASON      252
JOB         279
YOJ         515
DEROG       708
DELINQ      580
CLAGE       308
NINQ        510
CLNO        222
DEBTINC    1267
dtype: int64

In [5]:
# % NA:
100*credit.isnull().sum()/len(credit.index)

BAD         0.000000
LOAN        0.000000
MORTDUE     8.691275
VALUE       1.879195
REASON      4.228188
JOB         4.681208
YOJ         8.640940
DEROG      11.879195
DELINQ      9.731544
CLAGE       5.167785
NINQ        8.557047
CLNO        3.724832
DEBTINC    21.258389
dtype: float64

In [6]:
# Number of columns:
len(credit.columns)

13

In [7]:
# Proportion of BAD/GOOD:
u = credit.groupby("BAD").count()
u["LOAN"]

BAD
0    4771
1    1189
Name: LOAN, dtype: int64

In [8]:
100*sum(credit["BAD"] == 1)/ len(credit.index)

19.949664429530202

In [9]:
100*pd.value_counts(credit["BAD"], sort = True)/ len(credit.index)

0    80.050336
1    19.949664
Name: BAD, dtype: float64

In [10]:
# Reason of lending:

credit["REASON"].unique()

array(['HomeImp', nan, 'DebtCon'], dtype=object)

In [11]:
# Number of lending:
credit["NINQ"].unique()

array([ 1.,  0., nan,  2.,  3.,  5., 14., 10.,  4.,  9.,  8.,  6.,  7.,
       11., 12., 17., 13.])

In [12]:
pd.value_counts(credit["NINQ"])

0.0     2531
1.0     1339
2.0      780
3.0      392
4.0      156
5.0       75
6.0       56
7.0       44
10.0      28
8.0       22
9.0       11
11.0      10
13.0       2
12.0       2
17.0       1
14.0       1
Name: NINQ, dtype: int64

In [13]:
type(pd.value_counts(credit["NINQ"]))

pandas.core.series.Series

In [14]:
# JOB:

credit["JOB"].unique()

array(['Other', nan, 'Office', 'Sales', 'Mgr', 'ProfExe', 'Self'],
      dtype=object)

Count the average loan amount by profession and rank in descending order. 
It can be seen that the self-employed lenders are the most borrowing 
and also, the group with the second highest rate of bad records:

In [15]:
credit.groupby("JOB").mean().sort_values(by= "LOAN", ascending = False)

,BAD,LOAN,MORTDUE,VALUE,YOJ,DEROG,DELINQ,CLAGE,NINQ,CLNO,DEBTINC
JOB,,,,,,,,,,,
Self,0.300518,28314.507772,99776.188889,149734.106383,7.069399,0.235294,0.578652,174.536225,1.357576,23.026316,35.568006
Mgr,0.233377,19155.280313,82295.007659,108628.262697,9.319372,0.337386,0.630747,174.483868,1.509116,22.885638,35.277869
ProfExe,0.166144,18983.463950,94959.637806,131118.204130,8.752345,0.184564,0.416667,197.914313,0.982843,24.503195,32.540668
Office,0.131857,18142.616034,66757.144265,94081.816756,8.350438,0.151371,0.453196,179.489207,0.931188,21.191286,34.330619
Other,0.231993,18061.683417,59337.147858,84787.503377,9.459063,0.296919,0.420613,173.520162,1.323049,19.256072,34.241852
Sales,0.348624,14913.761468,82266.181818,108449.592593,6.802020,0.444444,0.285714,195.304893,0.750000,24.880734,37.534481

In [16]:
# 252 lenders without reasons
sum(credit["REASON"].isnull())

252

In [17]:
# Relabel for these 252 people:
k = credit["REASON"]
k.head(10)

0    HomeImp
1    HomeImp
2    HomeImp
3        NaN
4    HomeImp
5    HomeImp
6    HomeImp
7    HomeImp
8    HomeImp
9    HomeImp
Name: REASON, dtype: object

In [18]:
k = k.fillna("Unknown")

pd.value_counts(k)

DebtCon    3928
HomeImp    1780
Unknown     252
Name: REASON, dtype: int64

In [19]:
# Relabel for the dataset:

credit = credit.assign(REASON = k)
credit.head()

,BAD,LOAN,MORTDUE,VALUE,REASON,JOB,YOJ,DEROG,DELINQ,CLAGE,NINQ,CLNO,DEBTINC
0,1,1100,25860.0,39025.0,HomeImp,Other,10.5,0.0,0.0,94.366667,1.0,9.0,NaN
1,1,1300,70053.0,68400.0,HomeImp,Other,7.0,0.0,2.0,121.833333,0.0,14.0,NaN
2,1,1500,13500.0,16700.0,HomeImp,Other,4.0,0.0,0.0,149.466667,1.0,10.0,NaN
3,1,1500,NaN,NaN,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,1700,97800.0,112000.0,HomeImp,Office,3.0,0.0,0.0,93.333333,0.0,14.0,NaN

In [20]:
# JOBS:

credit = credit.assign(JOB = credit["JOB"].fillna("Other"))

pd.value_counts(credit["JOB"])

Other      2667
ProfExe    1276
Office      948
Mgr         767
Self        193
Sales       109
Name: JOB, dtype: int64

In [21]:
# Fill MORTDUE, DEBTINC, VALUE by its mean:

credit = credit.assign(MORTDUE = credit["MORTDUE"].fillna(credit["MORTDUE"].mean()),
                      VALUE = credit["VALUE"].fillna(credit["VALUE"].mean()),
                      DEBTINC = credit["DEBTINC"].fillna(credit["DEBTINC"].mean()))

credit.isnull().sum()

BAD          0
LOAN         0
MORTDUE      0
VALUE        0
REASON       0
JOB          0
YOJ        515
DEROG      708
DELINQ     580
CLAGE      308
NINQ       510
CLNO       222
DEBTINC      0
dtype: int64

In [22]:
# Remove all the missing values

Remove observation with missing values

In [23]:
df = credit.dropna(how = "any", axis = 0)
# Delete rows

In [24]:
df.isnull().sum()

BAD        0
LOAN       0
MORTDUE    0
VALUE      0
REASON     0
JOB        0
YOJ        0
DEROG      0
DELINQ     0
CLAGE      0
NINQ       0
CLNO       0
DEBTINC    0
dtype: int64

In [26]:
df.shape

(4748, 13)

In [27]:
credit.shape

(5960, 13)

In [28]:
# Proportion of lenders(BAD/GOOD) has been changed but not much:
100*sum(df["BAD"]== 1)/ len(df.index)

21.10362257792755

In [29]:
# The origional:
100*sum(credit["BAD"] == 1)/ len(credit.index)

19.949664429530202

In [30]:
# Relable for BAD:
df2 = df.assign(BAD = df["BAD"].map(lambda x :
                                   "B" if x == 1 else "G"))
df2.head()

,BAD,LOAN,MORTDUE,VALUE,REASON,JOB,YOJ,DEROG,DELINQ,CLAGE,NINQ,CLNO,DEBTINC
0,B,1100,25860.0,39025.0,HomeImp,Other,10.5,0.0,0.0,94.366667,1.0,9.0,33.779915
1,B,1300,70053.0,68400.0,HomeImp,Other,7.0,0.0,2.0,121.833333,0.0,14.0,33.779915
2,B,1500,13500.0,16700.0,HomeImp,Other,4.0,0.0,0.0,149.466667,1.0,10.0,33.779915
4,G,1700,97800.0,112000.0,HomeImp,Office,3.0,0.0,0.0,93.333333,0.0,14.0,33.779915
5,B,1700,30548.0,40320.0,HomeImp,Other,9.0,0.0,0.0,101.466002,1.0,8.0,37.113614

In [31]:
df.head()

,BAD,LOAN,MORTDUE,VALUE,REASON,JOB,YOJ,DEROG,DELINQ,CLAGE,NINQ,CLNO,DEBTINC
0,1,1100,25860.0,39025.0,HomeImp,Other,10.5,0.0,0.0,94.366667,1.0,9.0,33.779915
1,1,1300,70053.0,68400.0,HomeImp,Other,7.0,0.0,2.0,121.833333,0.0,14.0,33.779915
2,1,1500,13500.0,16700.0,HomeImp,Other,4.0,0.0,0.0,149.466667,1.0,10.0,33.779915
4,0,1700,97800.0,112000.0,HomeImp,Office,3.0,0.0,0.0,93.333333,0.0,14.0,33.779915
5,1,1700,30548.0,40320.0,HomeImp,Other,9.0,0.0,0.0,101.466002,1.0,8.0,37.113614

DEEP LEARNING

In [44]:
# H20 package:

import h2o
h2o.init(nthreads = 2, max_mem_size = 6)

Checking whether there is an H2O instance running at http://localhost:54321..... not found.
Attempting to start a local H2O server...
; Java HotSpot(TM) 64-Bit Server VM (build 25.162-b12, mixed mode)
  Starting server from C:\Users\mlcl.local\AppData\Local\Continuum\anaconda3\lib\site-packages\h2o\backend\bin\h2o.jar
  Ice root: C:\Users\MLCL~1.LOC\AppData\Local\Temp\tmpecv_oh7n
  JVM stdout: C:\Users\MLCL~1.LOC\AppData\Local\Temp\tmpecv_oh7n\h2o_mlcl_local_started_from_python.out
  JVM stderr: C:\Users\MLCL~1.LOC\AppData\Local\Temp\tmpecv_oh7n\h2o_mlcl_local_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321... successful.

--------------------------  ---------------------------------
H2O cluster uptime:         04 secs
H2O cluster timezone:       Australia/Sydney
H2O data parsing timezone:  UTC
H2O cluster version:        3.22.1.1
H2O cluster version age:    11 days
H2O cluster name:           H2O_from_python_mlcl_local_s3eq46
H2O cluster total nodes:    1
H2O cluster free memory:    5.333 Gb
H2O cluster total cores:    4
H2O cluster allowed cores:  2
H2O cluster status:         accepting new members, healthy
H2O connection url:         http://127.0.0.1:54321
H2O connection proxy:
H2O internal security:      False
H2O API Extensions:         Algos, AutoML, Core V3, Core V4
Python version:             3.6.5 final
--------------------------  ---------------------------------

In [45]:
# covert data into h20 objects:
data = h2o.H2OFrame(df2)

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [46]:
data.names

['BAD',
 'LOAN',
 'MORTDUE',
 'VALUE',
 'REASON',
 'JOB',
 'YOJ',
 'DEROG',
 'DELINQ',
 'CLAGE',
 'NINQ',
 'CLNO',
 'DEBTINC']

In [47]:
# SPlit data:
y = "BAD"
x = data.names
x.remove("BAD")
train, test = data.split_frame([0.5], seed = 29)

In [49]:
# Use h2o model:
m = h2o.estimators.deeplearning.H2ODeepLearningEstimator(seed = 29, 
                                                         reproducible = True )

m.train(x, y, train)

m

deeplearning Model Build progress: |██████████████████████████████████████| 100%
Model Details
=============
H2ODeepLearningEstimator :  Deep Learning
Model Key:  DeepLearning_model_python_1546928935833_1


ModelMetricsBinomial: deeplearning
** Reported on train data. **

MSE: 0.07597490452446258
RMSE: 0.27563545585512506
LogLoss: 0.2572467394884485
Mean Per-Class Error: 0.15142229917754002
AUC: 0.9243919155690228
pr_auc: 0.94218665471071
Gini: 0.8487838311380456
Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.35500336500374835:

       B    G     Error    Rate
-----  ---  ----  -------  --------------
B      319  196   0.3806   (196.0/515.0)
G      39   1845  0.0207   (39.0/1884.0)
Total  358  2041  0.098    (235.0/2399.0)

Maximum Metrics: Maximum metrics at their respective thresholds

metric                       threshold    value     idx
---------------------------  -----------  --------  -----
max f1                       0.355003     0.940127  283
max f2                       0.111072     0.968074  349
max f0point5                 0.760951     0.931993  162
max accuracy                 0.457063     0.902459  258
max precision                0.999572     1         0
max recall                   0.0599891    1         367
max specificity              0.999572     1         0
max absolute_mcc             0.457063     0.693959  258
max min_per_class_accuracy   0.809023     0.84466   142
max mean_per_class_accuracy  0.760951     0.848578  162

Gains/Lift Table: Avg response rate: 78.53 %, avg score: 78.11 %

    group    cumulative_data_fraction    lower_threshold    lift       cumulative_lift    response_rate    score      cumulative_response_rate    cumulative_score    capture_rate    cumulative_capture_rate    gain      cumulative_gain
--  -------  --------------------------  -----------------  ---------  -----------------  ---------------  ---------  --------------------------  ------------------  --------------  -------------------------  --------  -----------------
    1        0.0100042                   0.999601           1.27335    1.27335            1                0.999752   1                           0.999752            0.0127389       0.0127389                  27.3355   27.3355
    2        0.0200083                   0.999455           1.27335    1.27335            1                0.999526   1                           0.999639            0.0127389       0.0254777                  27.3355   27.3355
    3        0.0300125                   0.999112           1.27335    1.27335            1                0.999272   1                           0.999517            0.0127389       0.0382166                  27.3355   27.3355
    4        0.0400167                   0.998958           1.27335    1.27335            1                0.999049   1                           0.9994              0.0127389       0.0509554                  27.3355   27.3355
    5        0.0500208                   0.998807           1.27335    1.27335            1                0.998886   1                           0.999297            0.0127389       0.0636943                  27.3355   27.3355
    6        0.100042                    0.996886           1.26274    1.26805            0.991667         0.997823   0.995833                    0.99856             0.0631635       0.126858                   26.2743   26.8049
    7        0.150063                    0.99433            1.26274    1.26628            0.991667         0.995633   0.994444                    0.997584            0.0631635       0.190021                   26.2743   26.628
    8        0.200083                    0.991357           1.25213    1.26274            0.983333         0.992963   0.991667                    0.996429            0.0626327       0.252654                   25.2132   26.2743
    9        0.300125                    0.983836           1.21499    1.24683            0.954167         0.988032   0.979167                    0.99363             0.12155         0.374204                   21.4992   24.6826
    10       0.400167                    0.972045           1.25744    1.24948            0.9875           0.978225   0.98125                     0.989779            0.125796        0.5                        25.7438   24.9479
    11       0.500208                    0.950855           1.2203     1.24364            0.958333         0.962723   0.976667                    0.984368            0.122081        0.622081                   22.0298   24.3643
    12       0.599833                    0.907691           1.17745    1.23265            0.924686         0.931873   0.968033                    0.975649            0.117304        0.739384                   17.7453   23.265
    13       0.699875                    0.805775           1.08766    1.21192            0.854167         0.861366   0.951757                    0.959313            0.108811        0.848195                   8.7657    21.1924
    14       0.799917                    0.5712             0.896654   1.17249            0.704167         0.704168   0.920792                    0.927403            0.0897028       0.937898                   -10.3346  17.2495
    15       0.899958                    0.126288           0.567704   1.10526            0.445833         0.354583   0.867994                    0.863727            0.0567941       0.994692                   -43.2296  10.5265
    16       1                           4.83477e-07        0.0530564  1                  0.0416667        0.0378134  0.785327                    0.781101            0.00530786      1                          -94.6944  0

Scoring History:

    timestamp            duration    training_speed    epochs    iterations    samples    training_rmse    training_logloss    training_r2    training_auc    training_pr_auc    training_lift    training_classification_error
--  -------------------  ----------  ----------------  --------  ------------  ---------  ---------------  ------------------  -------------  --------------  -----------------  ---------------  -------------------------------
    2019-01-08 17:33:43  0.000 sec                     0         0             0          nan              nan                 nan            nan             nan                nan              nan
    2019-01-08 17:33:46  3.530 sec   870 obs/sec       1         1             2399       0.392846         0.813797            0.0845893      0.809012        0.823892           1.11419          0.156315
    2019-01-08 17:33:49  6.077 sec   959 obs/sec       2         2             4798       0.580163         1.05687             -0.996517      0.858277        0.943285           1.11419          0.137557
    2019-01-08 17:33:51  8.407 sec   1014 obs/sec      3         3             7197       0.335328         0.432926            0.333021       0.875589        0.948588           1.27335          0.132555
    2019-01-08 17:33:53  10.649 sec  1053 obs/sec      4         4             9596       0.337029         0.373216            0.326237       0.888516        0.957793           1.27335          0.123385
    2019-01-08 17:33:56  12.720 sec  1093 obs/sec      5         5             11995      0.321457         0.398142            0.38706        0.895669        0.929233           1.27335          0.114631
    2019-01-08 17:33:58  14.746 sec  1130 obs/sec      6         6             14394      0.334586         0.363571            0.335969       0.903297        0.962372           1.27335          0.11088
    2019-01-08 17:34:00  16.705 sec  1160 obs/sec      7         7             16793      0.305903         0.303607            0.444941       0.918907        0.971004           1.27335          0.10421
    2019-01-08 17:34:01  18.474 sec  1194 obs/sec      8         8             19192      0.278202         0.273703            0.540915       0.922436        0.964083           1.27335          0.0954564
    2019-01-08 17:34:03  20.405 sec  1214 obs/sec      9         9             21591      0.275635         0.257247            0.549347       0.924392        0.942187           1.27335          0.0979575
    2019-01-08 17:34:05  22.226 sec  1235 obs/sec      10        10            23990      0.275593         0.259153            0.549485       0.925594        0.969097           1.27335          0.0958733
    2019-01-08 17:34:05  22.478 sec  1235 obs/sec      10        10            23990      0.275635         0.257247            0.549347       0.924392        0.942187           1.27335          0.0979575

Variable Importances:

variable            relative_importance    scaled_importance    percentage
------------------  ---------------------  -------------------  --------------------
REASON.DebtCon      1.0                    1.0                  0.062242459926872856
REASON.HomeImp      0.9655006527900696     0.9655006527900696   0.06009513569065549
JOB.Other           0.9431329369544983     0.9431329369544983   0.05870291403410426
JOB.Self            0.9308656454086304     0.9308656454086304   0.057939367631649315
JOB.Office          0.8952209949493408     0.8952209949493408   0.0557207569038296
---                 ---                    ---                  ---
CLAGE               0.7590034008026123     0.7590034008026123   0.047242238758816814
NINQ                0.7427908778190613     0.7427908778190613   0.04623313144669963
CLNO                0.7174862623214722     0.7174862623214722   0.04465810993062602
JOB.missing(NA)     0.0                    0.0                  0.0
REASON.missing(NA)  0.0                    0.0                  0.0

See the whole table with table.as_data_frame()

In [50]:
# How model works on test data:

m.model_performance(test)

ModelMetricsBinomial: deeplearning
** Reported on test data. **

MSE: 0.1030143793816353
RMSE: 0.3209585321838871
LogLoss: 0.35456652417480344
Mean Per-Class Error: 0.2188931554465512
AUC: 0.8613566035946423
pr_auc: 0.915665060628141
Gini: 0.7227132071892846
Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.3315695977338461:

       B    G     Error    Rate
-----  ---  ----  -------  --------------
B      247  240   0.4928   (240.0/487.0)
G      53   1809  0.0285   (53.0/1862.0)
Total  300  2049  0.1247   (293.0/2349.0)

Maximum Metrics: Maximum metrics at their respective thresholds

metric                       threshold    value     idx
---------------------------  -----------  --------  -----
max f1                       0.33157      0.925083  297
max f2                       0.119546     0.962597  356
max f0point5                 0.592419     0.907582  218
max accuracy                 0.381648     0.875692  284
max precision                0.999585     0.984127  0
max recall                   0.0144833    1         390
max specificity              0.999585     0.997947  0
max absolute_mcc             0.381648     0.586393  284
max min_per_class_accuracy   0.856361     0.77014   112
max mean_per_class_accuracy  0.702216     0.781107  181

Gains/Lift Table: Avg response rate: 79.27 %, avg score: 78.86 %

    group    cumulative_data_fraction    lower_threshold    lift      cumulative_lift    response_rate    score      cumulative_response_rate    cumulative_score    capture_rate    cumulative_capture_rate    gain      cumulative_gain
--  -------  --------------------------  -----------------  --------  -----------------  ---------------  ---------  --------------------------  ------------------  --------------  -------------------------  --------  -----------------
    1        0.0102171                   0.999648           1.26155   1.26155            1                0.999781   1                           0.999781            0.0128894       0.0128894                  26.1547   26.1547
    2        0.0200085                   0.999463           1.26155   1.26155            1                0.99956    1                           0.999673            0.0123523       0.0252417                  26.1547   26.1547
    3        0.0302256                   0.999086           1.20898   1.24378            0.958333         0.999273   0.985915                    0.999538            0.0123523       0.037594                   20.8982   24.3778
    4        0.040017                    0.998745           1.2067    1.23471            0.956522         0.998906   0.978723                    0.999383            0.0118153       0.0494092                  20.6697   23.4705
    5        0.0502341                   0.998472           1.20898   1.22947            0.958333         0.998603   0.974576                    0.999225            0.0123523       0.0617615                  20.8982   22.9474
    6        0.100043                    0.996728           1.25076   1.24007            0.991453         0.997571   0.982979                    0.998401            0.0622986       0.12406                    25.0764   24.0074
    7        0.150277                    0.994019           1.18671   1.22224            0.940678         0.995371   0.968839                    0.997388            0.0596133       0.183673                   18.6709   22.2235
    8        0.200085                    0.991284           1.19685   1.21592            0.948718         0.992609   0.96383                     0.996199            0.0596133       0.243287                   19.6852   21.5916
    9        0.300128                    0.98332            1.21323   1.21502            0.961702         0.987395   0.963121                    0.993264            0.121375        0.364662                   21.3232   21.5022
    10       0.40017                     0.96972            1.18102   1.20652            0.93617          0.976435   0.956383                    0.989057            0.118153        0.482814                   18.1022   20.6522
    11       0.500213                    0.94728            1.16492   1.1982             0.923404         0.959243   0.949787                    0.983094            0.116541        0.599356                   16.4918   19.8201
    12       0.59983                     0.905267           1.14833   1.18992            0.910256         0.928153   0.943222                    0.97397             0.114393        0.713749                   14.8331   18.9919
    13       0.699872                    0.80796            0.977028  1.15949            0.774468         0.861192   0.9191                      0.957849            0.0977444       0.811493                   -2.29723  15.9487
    14       0.799915                    0.577773           1.01461   1.14137            0.804255         0.709946   0.904737                    0.926844            0.101504        0.912997                   1.46057   14.1367
    15       0.899957                    0.215585           0.71935   1.09445            0.570213         0.407116   0.86755                     0.86907             0.0719656       0.984962                   -28.065   9.44544
    16       1                           4.12411e-07        0.150312  1                  0.119149         0.0650955  0.792678                    0.788638            0.0150376       1                          -84.9688  0

In [52]:
# Get the prediction using model on test dataset:

p = m.predict(test)

deeplearning prediction progress: |███████████████████████████████████████| 100%

In [53]:
# See the result:
result = p.as_data_frame()
result.head()

  predict         B         G
0       B  0.975754  0.024246
1       B  0.983088  0.016912
2       B  0.957741  0.042259
3       B  0.664132  0.335868
4       B  0.998621  0.001379

In [54]:
# Compare the prediction and real dataset:
compared = p["predict"].cbind(test["BAD"]).as_data_frame()

compared.head()

  predict BAD
0       B   B
1       B   B
2       B   B
3       B   G
4       B   B

In [55]:
# Accuracy of prediction:

(p["predict"] == test["BAD"]).mean()

[0.8752660706683695]

To be continued....